#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

*next-step.txt
**/.terraform.lock.hcl
8-app-remote-state/backend-config.txt
.credentials.sh
1-main-vnet/backend-config.txt
1-main-vnet/backend.tf
1-main-vnet/vnet-peering.tf
4-remote-state-prep/backend-config.txt
9-app-deploy/backend-config.txt
9-app-deploy/azuredeploy.json
9-app-deploy/template-deploy.tf
