#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

*next-step.txt
**/.terraform.lock.hcl
8-app-remote-state/backend-config.txt
